@charset "UTF-8";
*{
    box-sizing:border-box;
}

body, html{
    margin:0;
    height: 100%;
    background-color: rgb(247, 186, 186);
}

body{
    display: flex;
    justify-content: center;
    
    /*alignment is vertical, justify is left/right*/
    align-items: flex-start;

}

main{
    background-color:rgb(250, 221, 183);
    width:80%;
    
}

header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    align-items: baseline;
    padding:0 20px 0 20px;

}



i{
    font-size:40px;
    color:rgb(255, 247, 135);
    margin: 0 10px 0 10px;
}
