
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgba(227, 227, 227);
}

html {
  font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined:hover {
  color: white;
}

.md-10 {
  font: 100;
}


