@charset "UTF-8";

html, body{
    margin:0;
    height:100%;
}
body{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    align-items: stretch;
}
main{
    width:100%;
    background-color:blueviolet;
    display:flex;
    flex-direction: column;
}
header{
    color: rgba(227, 227, 227);
    background-color: rgba(80, 80, 80);
    height:24px;
    display: flex;
    flex-direction: row;;
    gap: 20px;
    padding-left: 45px;
}

section{
    height:100%;
    background-color:burlywood;
    display:flex;
    justify-content: flex-start;
}
aside{
    text-align: center;
    width:50px;
    background-color: rgba(80, 80, 80);
}

ul {
    color: rgba(227, 227, 227, 1);
    margin-left: -20px;
}

details{
    margin: 100%;
}

li { 
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    padding: 5px;
}


nav{
    flex-direction: column;
    width:150px;
    background-color:rgba(55, 55, 55);
    transition:width 1s;
    display:flex;
    justify-content: flex-start;
    overflow:hidden;   
}

details{
    margin:5px;
    width:90px;
}
summary{
    width:125px;
    color: rgba(255, 255, 255);
    border-bottom: 1px solid rgba(123, 117, 117);
    border-top: 1px solid rgba(123, 117, 117);
    padding-bottom: 10px;
    padding-top: 10px;
}

#content{
    width:100%;
    background-color:rgba(22, 22, 22);
    display:flex;
    flex-direction: column;
}
    #tabs{
        background-color: rgba(6, 6, 6);
        display:flex;
        gap: 3px;
    }
        #tabs a{
            
            min-width: 173px;
            color:rgba(194, 194, 194);
            text-decoration: none;
            width:100px;
            height:40px;
            display:inline-block;
        }
        #tabs a:link, #tabs a:visited{
            background-color: rgba(55, 55, 55);

        }
        #tabs a:hover, #tabs a:active{
            background-color: rgba(22, 22, 22);
        }
    #breadcrumbs{
        background-color: rgba(22, 22, 22, );
        color: rgba(194, 194, 194);
    }
    #breadcrumbs > a{
        color: #0058A9;
    }
    textarea{
        resize:none;
        width:100%;
        height:100%;
        box-sizing: border-box;
        border:none;
        outline:none;
        background-color:black;
        color:white;
    }
footer{
    text-align: right;
    height: 16px;
    background-color:#0254A0;
    font-variation-settings:
    'opsz' 1
}

.hidden{
    width:0;
    padding:0;
    transition:width 1s;
}
.floatRight{
    float: right;
}
.floatCenter{
    padding-left: 500px;
}

.floatDown{
    margin-top: 600px;
}

.moveRight{
    padding-left: 650px;
}