/*---------------------- FONTS ------------------- */
@font-face {
    font-family:Gobold;
    src:url(fonts/Gobold\ Thin\ Italic.ttf);
}

/*---------------------- --- ------------------- */

header {
    background-color: rgb(197, 197, 197);
    width: 300px;
    height: 300px;

}/*------ end of header ------*/

*{

    box-sizing: border-box;

}

.grid-container {
    display: grid;
    grid-template-columns: 100px 50px 100px 50px;
}

html, body {
    border: 1px;
    height: 100%


}

nav {

    width:550px;
    height:40px;
    margin:auto;
    padding:100px 50px 100px 50px;
    }

    .link-button {

    width:260px;
    height:35px;
    text-align:center;
    font-size:18px;
    color:white;
    line-height:35px;
    text-decoration:none;
    display:block;
    float:left;
    margin-right:auto;
    margin-left:9.17px;
    background-color:rgb(61, 61, 61);
    font-family: Gobold;
    box-shadow:3px 3px 1px black;

    }

    .link-button:visited {

    color:rgb(39, 0, 232);
    }

    .link-button:hover {

    background-color:rgba(0,0,0, 0.85);
    color:red;

}/*------ end of nav ------*/


main {
    color: black;
    background-color: rgb(241, 241, 241);

}/*------ end of body ------*/



.hide {
    display:none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.closecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}