/*---------------------- FONTS ------------------- */
@font-face {
    font-family: Gobold;
    src:url(fonts/GoboldThin.ttf);
}

@import url(//fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap);

@font-face {
    font-family: Chakra;
    src:url(fonts/ChakraPetch-LightItalic.ttf);
}

/*---------------------- --- ------------------- */

body {

    background-image:url("images/carbon.jpg");
    background-position:center top;
    
    
}

#wrapper {
    background-color:white;
    width:1080px;
    padding:25px;
    margin:auto;
    border: 1px solid rgb(190, 190, 190);
    min-height:1000px;
}

#header {

    background: rgb(215,0,0);
    background: linear-gradient(180deg, rgba(215,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 100%);
    width: auto;
    height: 115px;
    font-family: Chakra;
    color: white;
    border-bottom: 10px solid white;

}
#nav {
    display: inline-block;
}

h1 {
    font-family: Chakra;
}

h2 {
    font-family: Chakra;
    font-weight: bold;
    border: 2px solid white;
}

.btn-container {

    width:900px;
    height:50px;
    margin:auto;
    padding:5px;

}

.link-button {
    width:260px;
    height:35px;
    text-align:center;
    font-size:18px;
    color:white;
    line-height:35px;
    text-decoration:none;
    display:block;
    float:right;
    margin-right:auto;
    margin-left:auto;
    background: rgb(160, 0, 0);
    font-family: Gobold;
    box-shadow: 3px 3px 1px black;
    
}


.link-button:visited {
    color:rgb(247, 241, 64);
}

.link-button:hover {
    color:grey;
}


main {
    color: black;
    background-color: rgb(241, 241, 241);
    font-family: Chakra;  

}

p {
    font-family: Chakra;
    border: 500px;
    border-bottom: 500px;

}

ul {
    font-family: Chakra;
    border: 500px;
    border-bottom: 500px;
}

ol {
    font-family: Chakra;
    border: 500px;
    border-bottom: 500px;
}

.hide {
    display:none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.closecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}