@charset "UTF-8";

*{
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

main{
    background-color: rgb(136, 190, 237);
    width: 85%;
    padding: 5px;
}

#body{
    background-color: azure;

}

#nav {
    display: none;
}

#wrapper {
    background-color: rgb(200, 200, 200);
    border: 2px solid red;
    
}

#header {
    background-color: rgb(177, 62, 183);
    padding: 5px;
}

#footer{
    background-color: rgb(255, 145, 0);
    width: 1000px;
    clear:both;
}