@charset "UTF-8";


main{
    color: #f77f00;
    background-color: #EAE2B7;

}

.bg{
    color: #003049;
}

.nav-link{
    color: #FCBF49;
}

html, body{
    margin:0;
    height:100%;
    background-color: #EAE2B7;
}

body {
    display: flex;
    justify-content: center;
}

@media (max-width: 1920px)
{
    main{
        width: 70%;
        transition: 1s;
    }
}

@media (max-width: 500px)
{
    main{
        width: 100%;
        transition: 1s;
    }

}
