@charset "UTF-8";

*{
    box-sizing: border-box;
}

.grid-container{
    display: inline-grid;
    /*grid-template-areas: 
        'hdr hdr hdr hdr hdr'
        'bio bio bio bio bio'
        'bio bio bio bio bio'
        'hby hby hby scl scl'
        'ftr ftr ftr ftr ftr';*/
    row-gap: 10px;
    column-gap: 10px;
    justify-content: flex-start;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: aliceblue;
}

.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: aliceblue;
}

.item5{
    grid-column-start: 4;
    grid-column-end: 5;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color:dimgray;
}

header{
    min-height:170px;
    font-size: 24px;
    border-bottom: 4px solid rgb(255, 231, 110);
    background-color: rgb(52, 52, 52);
}

#icons{
    float: right;
    padding: 25px;
    color:rgb(234, 207, 0);
}

main{
    
    background-color: #7c7c7c;
    font-family: 'Chakra Petch', sans-serif;
    padding: 5px;
}

h1{
    color:#BB0908;
}

h2{
    color:rgb(234, 207, 0);
    padding: 2px;
}

bio{
    
    display: flex;
}

ed{
    grid-area: scl;
    border-bottom: 2px solid crimson;
    justify-content: right;
}

hobbies{
    background-color: beige;
    display: flex;
    grid-area: hby;
    border-bottom: #BB0908;
    grid-column-start: 4;
    grid-column-end: 5;
}

footer{
    grid-area: ftr;
    float: bottom;
    padding: 2px;
}