@charset "UTF-8";

@media (max-width:500px)
{
    body
    {
        background-color: rgb(193, 192, 192);
        transition: 1s;
    }


}

@media (max-width:1000px)
{
    body{
        
        transition: 1s;
    }
}

html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    width:80%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
}
