@charset "UTF-8";

@media (min-width:500px)
{
    body{
        color:red;
    }

    tr:first-child{
        display:none;
    }
}

@media (min-width:1000px)
{
    body{
        color:blue;
    }

    tr:first-child{
        display:none;
    }
}

@media (min-width:1920px)
{
    body{
        color:darkolivegreen;
    }

    .h1{
        display: 150%;
    }

    tr:last-child{
        display:none;
    }

}

html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    width:90%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
}
